# Build
/build/
/export/
build/

# Vitis
_ide/_build/
.vitis/
.vitisWorksp

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Objetos y dependencias
*.o
*.d

# Binarios generados
*.elf
*.size
*.bin
*.pdi

# Logs
logs/
*.log

# Lock files
*.lock

# Configuración temporal
.peers.ini
.repo.yaml

# VS Code
.vscode/

# Archivos temporales
*.swp
*~
