# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorksp

# Build
build/

# Vitis
_ide/_build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Archivos generados
*.elf
*.size

# VS Code
.vscode/

# Archivos temporales
*.swp
*~
